@model FacultyWeb.Models.SubHeader

@{
    ViewData["Title"] = "EditSHeader";
}
<script src="~/ckeditor 4/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var editor = CKEDITOR.replace('Content');
    });
</script>
<h1>EditSHeader</h1>

<h4>SubHeader</h4>
<hr />
<div class="container-fluid">

    <form asp-action="EditSHeader">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea id="Content" name="Content">@Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" value="@ViewBag.HeaderId" name="HeaderId" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

<div>
    <a asp-action="ListFaculty" asp-controller="Faculty">Back to List</a>
</div>
